
<div class="basic-grey" id="usuarios">
  <p id="notice"><%= notice %></p>

  <h1><%= User.model_name.human(count: @users.count) %></h1>

  <table>
    <thead>
      <tr>
        <th><%= User.human_attribute_name "nome" %></th>
        <th><%= User.human_attribute_name "e-mail" %></th>
        <th>Cpf</th>
        <th><%= User.human_attribute_name "kind" %></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr style="background: <%= cycle('white','#f2f2f2') %>">
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= user.cpf %></td>
          <td><%= user.kind.description %></td>
          <td><%= link_to t('button.show'), user %></td>
          <td><%= link_to t('button.edit'), edit_user_path(user) %></td>
          <td><%= link_to t('button.destroy'), user, method: :delete, data: { confirm: t('message.confirm_delete') } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>

  <div id="paginador">
    <%= paginate @users %>
  </div>

  <br>
  <%= link_to t('button.new_user'), new_user_path %>
  <br><br>
  <%= link_to t('button.back'), home_index_path %>
</div>