
<div class="basic-grey">
	<h1>Bem vindo ao Sistema </h1>
   	<ul class="list-group">
   		<li class="list-group-item"><%= link_to "Usuários", users_path %></li>
   		<li class="list-group-item"><%= link_to "Tipos", kinds_path %></li>
   		<li class="list-group-item"><%= link_to "Telefones", phones_path %></li>
   		<li class="list-group-item"><%= link_to "Endereços", addresses_path %></li>
   		<li class="list-group-item"><%= link_to "teste com AJAX", addresses_path, remote: true %></li>
    </ul>
</div>